.App {
    text-align: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#control-bar-container{
    height: 10%;
}
#view-container{
    height:80%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col2{
    float: left;
    width: 50%;
}

/* Style the handles (resize corners) */
.brushG > rect.handle {
    stroke: none;                  /* Remove any stroke from the handles */
    fill: none;    /* Blue color for handles */
}

text {
    font-family: 'Roboto', sans-serif;
}