.scatterplotDivContainer{
    height: 100%;
    width: 100%;
}

.tooltip-div {
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 12px;
    font-size: 14px;
    background-color: #333; /* Dark background */
    color: #fff; /* White text */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15); /* Soft shadow */
    border: none; /* Remove border */
    pointer-events: none; /* Prevent blocking mouse events */
    font-family: 'Arial', sans-serif; /* Clean font */
 }
 
 .tooltip-div strong {
     color: #ffcc00; /* Highlighted text color */
 }
 
/* Upward-pointing arrow (on top) */
.tooltip-div-after {
    content: '';
    position: absolute;
    top: -10px; /* Position arrow above the tooltip */
    left: 50%; /* Center the arrow horizontally */
    margin-left: -5px; /* Offset by half of the arrow's width */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent; /* Arrow pointing up */

}

/* Downward-pointing arrow (on bottom) */
.tooltip-div-before {
    content: '';
    position: absolute;
    bottom: -10px; /* Position arrow below the tooltip */
    left: 50%; /* Center the arrow horizontally */
    margin-left: -5px; /* Offset by half of the arrow's width */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent transparent; /* Arrow pointing down */

}